@import "vars";
@import "mixins";
@import "fonts";
@import "vendor/reset";

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: linear-gradient(90deg, #8e9eab 0%, #e8f2f3 100%);

  font-family: Arial, sans-serif;
  font-size: 24px;
  line-height: 1.1;
  color: $text;
}

a {
  text-decoration: none;
  color: $text;

  &:hover {
    text-decoration: underline;
  }
}

/* Vendors */

/* Blocks */

@import "blocks/page";
@import "blocks/container";
@import "blocks/header";
@import "blocks/panel";
@import "blocks/box";
@import "blocks/footer";
