.box-wrapper {
  position: relative;

  width: 100%;
  max-width: 760px;
  min-height: 540px;

  margin: 0 auto 50px;
  padding-top: 35px;
}

.box {
  width: 100%;
  max-width: 500px;
  min-height: 400px;

  background: #608c9f;

  margin: 45px auto 10px;

  box-shadow: 0px 0px 30px 1px #25414a80;
}

.angle-radius {
  position: absolute;
  z-index: 9;

  width: 100%;
  max-width: 100px;
  height: 35px;

  font-size: 24px;
  color: $text;

  padding: 0 9px;

  background: rgba(142, 158, 171, 0.3);
  border: 1px solid $primary;

  &:focus {
    background: rgba(255, 255, 255, 0.4);
    outline: none;
  }

  &--right {
    right: 0;
  }
}

.result {
  display: flex;
  justify-content: center;

  &-input {
    width: 100%;
    max-width: 530px;
    height: 35px;

    font-size: 20px;
    color: $text;

    padding: 0 9px;

    outline: none;
    background: rgba(255, 255, 255, 0.4);
    border: 1px solid $primary;
  }

  &-copy-btn {
    width: 100%;
    max-width: 100px;
    height: 35px;

    color: #55626a;

    background: rgba(0, 0, 0, 0.3);
    border: 1px solid $primary;

    margin-left: 20px;
  }
}

.result-copy-btn {
  position: relative;
  display: inline-block;
}

.result-copy-btn .tooltiptext {
  visibility: hidden;

  position: absolute;
  bottom: 150%;
  right: 50%;
  z-index: 1;

  transform: translateX(50%);

  width: max-content;

  background: rgba(142, 158, 171, 0.3);
  border-radius: 6px;

  color: $text;
  font-size: 15px;
  text-align: center;

  padding: 5px;
  margin-left: -75px;

  opacity: 0;
  transition: opacity 0.3s;
}

.result-copy-btn .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgba(142, 158, 171, 0.3) transparent transparent transparent;
}

.result-copy-btn:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
